.form {
  max-width: 30rem;
  margin: 1.5rem auto;
}

  .form-group {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .form-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0.5rem 0;
  }

  .form-label {
    flex-basis: 5rem;
  }

  .form-input {
    flex-grow: 1;
    flex-basis: 15rem;
  }

  .form-textbox {
    resize: vertical;
    height: 5rem;
  }

  .form-button {
    margin-left: auto;
  }