<form class="form" name="contact" method="POST" action="/success/" netlify>
  <ul class="form-group">
    <li class="form-item">
      <label class="form-label" for="form-name">Name:</label>
      <input class="form-input" id="form-name" type="text" name="name" required autofocus>
    </li>
    <li class="form-item">
      <label class="form-label" for="form-email">Email:</label>
      <input class="form-input" id="form-email" type="email" name="email">
    </li>
    <li class="form-item">
      <label class="form-label" for="form-subject">Subject:</label>
      <input class="form-input" id="form-subject" type="text" name="subject">
    </li>
    <li class="form-item">
      <label class="form-label" for="form-message">Message:</label>
      <textarea class="form-input form-textbox" id="form-message" name="message" required></textarea>
    </li>
    <li class="form-item">
      <button class="form-button" type="submit">Send</button>
    </li>
  </ul>
</form>